# Xcode
#
build/
Build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

timeline.xctimeline

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build


# Various

.DS_Store


# Linux

*.swp
*.swo

# Swift Package Manager

.build/
Packages/
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/RxSwift.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
.idea/runConfigurations/RxBlocking_iOS.xml
.idea/runConfigurations/RxBlocking_OSX.xml
.idea/runConfigurations/RxBlocking_tvOS.xml
.idea/runConfigurations/RxBlocking_watchOS.xml
.idea/runConfigurations/RxCocoa_iOS.xml
.idea/runConfigurations/RxCocoa_OSX.xml
.idea/runConfigurations/RxCocoa_tvOS.xml
.idea/runConfigurations/RxCocoa_watchOS.xml
.idea/runConfigurations/RxExample_iOS.xml
.idea/runConfigurations/RxExample_iOS_no_module.xml
.idea/runConfigurations/RxExample_OSX.xml
.idea/runConfigurations/RxSwift_iOS.xml
.idea/runConfigurations/RxSwift_OSX.xml
.idea/runConfigurations/RxSwift_tvOS.xml
.idea/runConfigurations/RxSwift_watchOS.xml
.idea/runConfigurations/RxTests_iOS.xml
.idea/runConfigurations/RxTests_OSX.xml
.idea/runConfigurations/RxTests_tvOS.xml
